<div id="splash-screen-background">
  <div class="row">
    <div id="splash-screen-text-container" class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Welcome to the CS Degree Advisor and Planning Assistant!</h1>
      <p class="text-center">
        Tired of trying to plan your computer science degree out on paper? We know we are!
        That's why we build the CSDAPA application! With this tool, planning your degree out is
        a breeze. And don't worry, we store all your plans in the cloud and make sure you're not missing
        any important prerequisites.<br>
      </p>
      <p class="text-center">
        <%= link_to 'Get Started', course_plans_path, class: 'btn btn-lg btn-primary'%>
      </p>
    </div>
  </div>
</div>
